@using SRCUBagTracking.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon icon" type="image/ico" href="@Url.Content("~/Content/img/icons/SRCU.ico")" />
    <title>@ViewBag.Title </title>
    <!-- style bundles -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/themes/css")
    @* @Styles.Render("~/Content/fontawesome4")*@

    <!-- all minified/bundled Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</head>

<body>
    <div class="container-fluid container-fluid-customSize">

        @* --- body of each page----------------------------------------------------------------------------------------------------------------- *@
            @RenderBody()

        <footer class="margin-bottom"></footer>

    </div>

</body>
</html>




