@using SRCUBagTracking.Models

@{
    //var user = Session["user"] as Login;
    var schoolName = Session["schoolName"];
    var branchName = Session["branchName"];
    var branchManager = Session["branchManager"];
    var branchPhone = Session["branchPhone"];
    var branchEmail = Session["branchEmail"];
}
<div class="navbar navbar-default nav-top-margin">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-menu ">
            <ul class="nav navbar-nav navbar-right">
                <li id="floatbar" class="loginUserNav">
                    <div class="popup">
                        <p style="line-height:28px; font-size:12px;">
                            School Name: @schoolName<br />
                            Apple Branch : @branchName <br />
                            Assistant Manager: @branchManager <br />
                            Branch Phone: @branchPhone <br />
                            Email:<a href="mailto:@branchEmail" target="_top"> @branchEmail</a>
                        </p>
                    </div>Welcome @schoolName
                </li>
                <li class="menuBlock">@Html.ActionLink("Home", "BagLibrary", new { area = "", Controller = "Home" })</li>
                <li class="menuBlock">@Html.ActionLink("New Bag?", "BagWizard", new { area = "", Controller = "Home" })</li>
                <li class="menuBlock">@Html.ActionLink("Training", "Training", new { area = "", Controller = "Home" })</li>
                <li class="menuBlock">@Html.ActionLink("Marketing", "Marketing", new { area = "", Controller = "Home" })
                    @Html.Partial("_marketingUpdateNewTag")                                  
                </li>
                <li class="menuBlock">@Html.ActionLink("Resources", "srcuDocuments", new { area = "", Controller = "Home" })</li>                               
                <li class="menuBlock">@Html.ActionLink("Contact Us", "ContactUs", new { area = "", Controller = "Home" })</li>
                <li class="menuBlock">@Html.ActionLink("Logout", "Login", new { area = "", Controller = "Account" })</li>
            </ul>
        </div>
    </div>
</div>