@using SRCUBagTracking.Models

@{
    //var user = Session["user"] as Login;
    var schoolName = Session["schoolName"];
    var branchName = Session["branchName"];
    var branchManager = Session["branchManager"];
    var branchPhone = Session["branchPhone"];
    var branchEmail = Session["branchEmail"];
}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="~/Content/img/logos/SRCULogo.png" width="200" class="appleLogo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
            <!--<li>
        <div class="popup" id="example">
            <p style="line-height:28px; font-size:12px;">
                School Name: @schoolName<br />
                Apple Branch : @branchName <br />
                Assistant Manager: @branchManager <br />
                Branch Phone: @branchPhone <br />
                Email:<a href="mailto:@branchEmail" target="_top"> @branchEmail</a>
            </p>
        </div>-->
            @*<h3 style="">Welcome @schoolName</h3>*@
            <!--</li>-->
            <li class="nav-item">

                @Html.ActionLink("Home", "BagLibrary", new { area = "", Controller = "Home" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("New Bag?", "BagWizard", new { area = "", Controller = "Home" }, new { @class = "nav-link" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("Marketing", "Marketing", new { area = "", Controller = "Home" }, new { @class = "nav-link" })
                @*Add a New Tag image if there is a new document in the sql table*@
                @Html.Partial("_marketingUpdateNewTag")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Training", "Training", new { area = "", Controller = "Home" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Resources", "srcuDocuments", new { area = "", Controller = "Home" }, new { @class = "nav-link" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("Contact Us", "ContactUs", new { area = "", Controller = "Home" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Logout", "Login", new { area = "", Controller = "Account" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item ml-5 mr-3 tooltipPop">
                <span class="big p-1 red branch-info">
                    Welcome @schoolName 
                </span>
                <p class="tooltiptext">
                    <strong>School Name:</strong> @schoolName<br />
                    <strong>Apple Branch :</strong> @branchName <br />
                    <strong>Assistant Manager: </strong>@branchManager <br />
                    <strong>Branch Phone:</strong> @branchPhone <br />
                    <strong>Email:</strong><a href="mailto:@branchEmail" target="_top"> @branchEmail</a>
                </p>
            </li>
        </ul>
    </div>
</nav>

@*<script>
        $(document).ready(function () {

            ////active navbar by click

            $('.navbar-nav li').click(function (e) {
                var $this = $(this);
                var currentActive = $(".active");
                if (!$this.hasClass('active')) {
                    currentActive.removeClass("active");
                    $this.addClass('active');
                }
                //e.preventDefault();
            });






        });
    </script>*@
