@model IEnumerable<SRCUBagTracking.Models.FileDetailsModel>

<table class="table table-bordered">
    <tr>
        <th class="col-md-3">
            File Title
        </th>
        <th class="col-md-3">
            File Name
        </th>

        <th class="col-md-2">
            File Content
        </th>
        <th class="col-md-2">
            File Category
        </th>
        <th class="col-md-2">
            Date uploaded
        </th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fileTitle)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.fileName)
            </td>

            <td>
                @Html.ActionLink("Downlaod", "DownLoadFile", new { id = item.Id })

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileCategory)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.dateUploaded)
            </td>
        </tr>
    }

  
</table>

