@model SRCUBagTracking.Models.Bag

@{
    ViewBag.Title = "Branch Work";
   
}


@{
    ViewBag.Title = "Branch Work";
}
@Html.Partial("_BranchNavigation")


<div class="container mt-5">

    <h2 class="page-header">Branch Work </h2>   <hr />
    @using (Html.BeginForm())
    {
<div>
    @Html.HiddenFor(model => model.rec_ID)
    @Html.HiddenFor(model => model.dateSubmitted)
    @Html.HiddenFor(model => model.school_ID)
    @Html.HiddenFor(model => model.bagNumber)
    @Html.HiddenFor(model => model.deposits)
    @Html.HiddenFor(model => model.memberApps)
    @Html.HiddenFor(model => model.handDeliver)
    @Html.HiddenFor(model => model.liasonComment)
    @Html.HiddenFor(model => model.dollarAmount)
    @Html.HiddenFor(model => model.completedByTeller)
</div>
        <table class="table table-striped">
            <thead>
                <tr class="lightBlue_bg">
                    <th class="border-0">Date Submitted: @ViewBag.SubmittedDate</th>
                    <th class="border-0">💰 Bag Number: @ViewBag.BagNumber </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>💶 Deposit Number: </strong> @ViewBag.Deposits</td>

                    <td>
                        @if (ViewBag.dateCompletedDeposits != null)
                        {
                            <input type="checkbox" id="deposits" class="depositsCheckBox" value=@ViewBag.dateCompletedDeposits name="dateCompletedDeposits" checked disabled />
                            @Html.HiddenFor(model => model.dateCompletedDeposits)
                        }
                        else
                        {
                            <input type="checkbox" id="deposits" class="depositsCheckBox" value=@DateTime.Now.ToShortTimeString() name="dateCompletedDeposits" />
                        }
                        <strong>Deposit Completed</strong>
                    </td>
                </tr>
                <tr class="lightBlue_bg">
                    <td><strong>&#128240; Apps Number:</strong> @ViewBag.Apps</td>
                    <td>
                        @*<input type="checkbox" id="apps" value=@DateTime.Now.ToShortTimeString() name="dateCompletedApps" />*@
                       
                        @if (ViewBag.dateCompletedApps != null)
                        {
                            <input type="checkbox" id="apps" value=@ViewBag.dateCompletedApps name="dateCompletedApps" checked disabled />
                            @Html.HiddenFor(model => model.dateCompletedApps)
                        }
                        else
                        {
                            <input type="checkbox" id="apps" value=@DateTime.Now.ToShortTimeString() name="dateCompletedApps" />
                        }
                        <strong>Application Completed</strong>
                    </td>
                </tr>
                <tr>
                    <td><span class="fa fa-comment"></span> <strong>Liaison Comments:</strong> </td>
                    <td>

                        @Html.TextAreaFor(q => q.liasonComment, new { @cols = "80", @rows = "4", @readonly = true })
                    </td>
                </tr>
                <tr class="lightBlue_bg">
                    <td><span class="fa fa-comment"></span><strong> Branch Comments:</strong> </td>
                    <td>
                        @Html.TextAreaFor(q => q.branchComment, new { @cols = "80", @rows = "4" })
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mt-5 mr-4 justify-content-end">
            <input id="backBranchWork" type="submit" value="Back"  class="btn btn-outline-secondary back-btn m-1" />
            <input id="submitBranchWork" type="submit" value="Complete" class="btn CTA_btn m-1" />
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#BranchModal").draggable({
            handle: ".modal-header"
        });

        $(".depositsCheckBox").click(function () {
            if ($(this).is(":checked")) {
                var returnVal = confirm("Are you sure?");
                $(this).attr("checked", returnVal);
            }
        });

        $(".depositsCheckBox").change(function () {
            if ($(this).is(":checked")) {
                $(this).prop('checked', true);
                $(this).prop('disabled', 'disabled');
            }
        });

    });

</script>
