@model SRCUBagTracking.Models.Bag

@{
    ViewBag.Title = "Branch Work";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Complete Daily work</h4>
</div>
<div class="modal-body">


    @*<div class="container">
        <div class="row">
            <div class="col-md-9">*@

    @using (Html.BeginForm())
    {
        <div> 
            @Html.HiddenFor(model => model.rec_ID)
            @Html.HiddenFor(model => model.dateSubmitted)
            @Html.HiddenFor(model => model.school_ID)
            @Html.HiddenFor(model => model.bagNumber)
            @Html.HiddenFor(model => model.deposits)
            @Html.HiddenFor(model => model.memberApps)
            @Html.HiddenFor(model => model.handDeliver)
            @Html.HiddenFor(model => model.liasonComment)
            @Html.HiddenFor(model => model.dollarAmount)
            @Html.HiddenFor(model => model.completedByTeller)
    </div>
    <table class="table table-striped lightBlue_bg bold">
        <thead>
            <tr>
                <th>Date Submitted: @ViewBag.SubmittedDate</th>
                <th>&#128188; Bag Number: @ViewBag.BagNumber </th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
            <td>&#128188; Bag Number: @ViewBag.BagNumber</td>
            <td></td>
        </tr>*@
            <tr>
                <td>&#128181; Deposit Number: @ViewBag.Deposits</td>
                <td>
                    @if (ViewBag.dateCompletedDeposits != null)
                    {
                        <input type="checkbox" id="deposits" class="depositsCheckBox" value=@ViewBag.dateCompletedDeposits . name="dateCompletedDeposits" checked disabled />
                        @Html.HiddenFor(model => model.dateCompletedDeposits)
                    }
                    else
                    {
                        <input type="checkbox" id="deposits" class="depositsCheckBox" value=@DateTime.Now.ToShortTimeString() name="dateCompletedDeposits" />
                    }

                    Deposit Completed
                </td>
            </tr>
            @*<tr>
                    <td class="fa fa-comment">Deposit Comments:</td>
                    <td>
                        @Html.TextAreaFor(q => q.liasonComment, new { @cols = "80", @rows = "4" })
                    <textarea rows="5" cols="58" @Html.HiddenFor(model => model.liasonComment) />
                </td>
        </tr>*@
            <tr>
                <td>&#128240; Apps Number: @ViewBag.Apps</td>
                <td>
                    @if (ViewBag.dateCompletedApps != null)
                    {
                        <input type="checkbox" id="apps" value=@ViewBag.dateCompletedApps name="dateCompletedApps" checked disabled />
                        @Html.HiddenFor(model => model.dateCompletedApps)
                    }
                    else
                    {
                        <input type="checkbox" id="apps" value=@DateTime.Now.ToShortTimeString() name="dateCompletedApps" />
                    }
                    Application Completed
                </td>
            </tr>
            <tr>
                <td><span class="fa fa-comment"></span> Liaison Comments:</td>
                <td>

                    @Html.TextAreaFor(q => q.liasonComment, new { @cols = "80", @rows = "4", @readonly = true })
                </td>
            </tr>
            <tr>
                <td><span class="fa fa-comment"></span> Branch Comments:</td>
                <td>
                    @Html.TextAreaFor(q => q.branchComment, new { @cols = "80", @rows = "4" })
                </td>
            </tr>
            <tr>
                <td colspan="2"> <input id="submitBranchWork" type="submit" value="Complete" class="btn btn-primary pull-right" /></td>
            </tr>
        </tbody>
    </table>
    }


    @*<h4>Date Submitted: @ViewBag.SubmittedDate</h4>

        <p>
            &#128188; Bag Number: @ViewBag.BagNumber <br />
            &#128181; Deposit Number: @ViewBag.Deposits <br />
            &#128240; Apps Number: @ViewBag.Apps
        </p>*@
</div>

@*</div>
        </div>
    </div>*@
<script>
    $(document).ready(function() {
    $("#BranchModal").draggable({
        handle: ".modal-header"
    });

    //$(".depositsCheckBox").click(function () {
    //    if ($(this).is(":checked")) {
    //        var returnVal = confirm("Are you sure?");
    //        $(this).attr("checked", returnVal);
    //    }
    //    });

    //$(".depositsCheckBox").change(function () {
    //    if ($(this).is(":checked")) {
    //        $(this).prop('checked', true);
    //        $(this).prop('disabled', 'disabled');
    //    }
    //});
    });

</script>