@model IEnumerable<SRCUBagTracking.Models.Bag>

@{
    ViewBag.Title = "Banch school Bag";
    WebGrid grid = new WebGrid(Model, canPage: true, rowsPerPage: 25);
    grid.Pager(WebGridPagerModes.All);
}

@Html.Partial("_BranchNavigation")
@*<div class="col-md-1 margin-left"><a href="@Url.Action("AddBag", "Admin", new { schoolId = @ViewBag.SchoolId })" type="button" class="btn btn-primary pull-right">Add New Bag</a></div><br /><br />*@
<div id="grid" class="col-md-12 mt-5">

    <div class="col-md-push-4 col-md-6 margin-left mb-5"> <h3 class="catalinaBlue"><u>@ViewBag.schoolName School Bag💰</u></h3> </div>

    @{
        @grid.GetHtml(@*htmlAttributes: new { id = "DataTable" },*@
        tableStyle: "table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        //alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        // grid.Column("recid", "ID"),
        grid.Column("dateSubmitted", "Date Submitted"),
        grid.Column("bagNumber", "Bags #", canSort: false),
        grid.Column("deposits", "Deposits #", canSort: false),
        grid.Column("dateCompletedDeposits", "Deposits Completed", canSort: false),
        grid.Column("memberApps", "Apps #", canSort: false),
        grid.Column("dateCompletedApps", "Apps Completed", canSort: false),
        grid.Column("dollarAmount", "$ Amount", canSort: false, format: (item) => item.dollarAmount != null ? item.dollarAmount.ToString("#,#.00") : ""),
        grid.Column("completedByTeller", "Teller ID", canSort: false),
        grid.Column("handDeliver", "HD"),
        //grid.Column(header: "Comments", style: "action", format: @<text>@Html.ActionLink("Read", "BranchComments", new { recId = item.rec_ID, schoolId = item.school_ID }, new { data_toggle = "modal", data_target = "#CommentModal" })   ,      
        grid.Column(header: "Action", style:"action",format: @<text>@Html.ActionLink("Open", "BranchWork", new {id="openWork", recId = item.rec_ID, schoolId = item.school_ID}, new { data_toggle = "modal", data_target = "#BranchModal"})     
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;

                        @if (@item.liasonComment != null && @item.liasonComment != "")                      
                        {                           
                             <img src="~/Content/img/icons/sendComment.png" width="18" />
                        }
                        else
                        {
                            <span>&nbsp; &nbsp;&nbsp;&nbsp; </span>
                        }
                       @if (@item.branchComment != null && @item.branchComment != "")
                       {
                            <span>&nbsp;  </span> <img src="~/Content/img/icons/chatbubbles.png" width="21" />
                        }
                       
                        </text>)
 ));
}
</div>

<!-- Modal -->
@*<div class="modal fade bs-example-modal-lg" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> SRCU Comments</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>*@

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="BranchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Complete Daily work</h4>
            </div>
            <div class="modal-body">
               
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#grid tbody tr").each(function (i, row) {
            var bagNumber = $(this).find("td:nth-child(2)").text();
            var deposit = $(this).find("td:nth-child(3)").text();
            var appNumber = $(this).find("td:nth-child(5)").text();
            var handDeliver = $(this).find("td:nth-child(9)").html();
            //hiding HandDelivered column
            $('table th:nth-child(9), table td:nth-child(9)').hide();

            if (deposit == 0 && (appNumber.length == 0 || appNumber == 0) && handDeliver != "True") {
                $(this).addClass("grey_Background grey");
                $(this).find(".action a").remove();
                $(this).find("img").remove();
            }
            else if (deposit == 0 && (appNumber.length != 0 || appNumber != 0) && handDeliver != "True") {
                $(this).addClass("lightBlue_bg darkgrey");
            }
           
            else if (handDeliver == "True") {
                $(this).addClass("lightBrownOrange_Background darkgrey");
            }
            else {
                $(this).addClass("white_Background darkgrey");
            }           
        });

        $('#submitBranchWork').click(function () {
            location.reload(true);
        });
        $("button .close").click(function () {
            $("#grid").location.reload(true);
        });
    });
</script> 

