@model IEnumerable<SRCUBagTracking.Models.School>
@{
    ViewBag.Title = "Select Your School";
}
@Html.Partial("_AdminNavigation")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Schools Home</h2>
            <hr />
            <div>
                <a href="@Url.Content("~/Admin/Admin/AddSchool")" type="button" class="btn btn-primary pull-left">Add New School</a>
                <a href="@Url.Content("~/Admin/Admin/SchoolsDetail")" type="button" class="btn btn-primary white pull-right">Update Schools</a>
            </div><br /><br /><br />


            @* Today statistics *@
            <div class="row">
                @foreach (var item in @ViewBag.schoolName)
                {

                    <a href="@Url.Action("SchoolBag", "Admin", new { schoolId = item.school_ID })" style="text-decoration:none; color:inherit;">

                        <div class="col-md-2">
                            <div class="schoolBox">
                                <table class="table schoolIcon">
                                    <thead>
                                        <tr>
                                            @*<td height="30" class="lightCyan-green_Background" align="left">*@

                                            @* <a class="editSchool" href="@Url.Action("UpdateSchool", "Admin", new { schoolId = item.school_ID })">Edit</a>*@
                                            @*@Html.ActionLink("Edit", "UpdateSchool", "Admin", new { area = "Admin", @class = "editSchool", Id = item.school_ID })*@
                                            @*</td>*@

                                            <td height="30" class="lightCyan-green_Background" align="left">
                                                <img src="~/Content/img/icons/school.png" height="40" />
                                                @item.schoolName
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </a>

                }


            </div>
        </div>
    </div>
</div>
